html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
    /*  google colour picker */
    background-color: #b8bcc2;
    font-family: 'Quicksand';font-size: 20px;
}
.img-thumbnail {
    float: left;
    padding: 0 20px 20px 0;
}

.imageNav-photo {
    Width:200px;
    height: 150px;
    border: 2px solid #4AAAA5; 
}

.imageNav-photo2 {
    Width:200px;
    height: 150px;
}
.text {
    float: right;
    padding: 0 0 20px 20px;
}



.col-md-4 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.col-md-4 img{
    max-width: 500px; 
    height: auto;
    margin-top: 10px;
    display: block;
    margin: auto;
    border: 3px;
}

.frontimage{
float:left;
width: 200px;
height: 200px;
}

.img-thumbnail{
width: 50%;
}

.navbar-brand{

   font-size: 80px;
   font-weight: bold;
   color: lightseagreen;
    }

    h3 {
        color: lightseagreen;
        font-weight: bold;
    }

    h2 {
        color: lightseagreen;
        font-weight: bold;
    }
.spacing{
    margin-left: 50%;
}

#contact-info {
    width: 60%;
  }